body {
    background-color: gainsboro;
    color: navy;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 900;
    margin-bottom: 0px;
}

#funcionamento {
    font-size: 13px;
    font-weight: 200;
}

#texto-tarefa {
    margin: 20px;
}

.button {
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    transition: 0.5s;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(211, 211, 211);
    background-color: gainsboro;
    color: navy;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    background: rgb(211, 211, 211);
    box-shadow: 0 0 0.25em gray;
}

ion-icon {
    font-size: 24px;
}

#texto-tarefa {
    font-size: 18px;
    color: navy;
}

.selecionado {
    background: rgb(128, 128, 128);
    color: navy;
}

#lista-tarefas {
    width: 500px;
}

.item-tarefas {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(28, 28, 28);
    font-size: 20px;
    color: deepskyblue;
    height: 25px;
}