body {
    background-color: gainsboro;
    color: navy;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 900;
    margin-bottom: 0px;
}

#funcionamento {
    font-size: 13px;
    font-weight: 200;
}

#texto-tarefa {
    margin: 20px;
}

#menu-inferior {
    display: flex;
    height: 30px;
    margin-bottom: 40px;
    align-content:flex-end;
}

.button {
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    width: 110px;
    transition: 0.5s;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(211, 211, 211);
    background-color: gainsboro;
    color: navy;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.button:hover {
    background: rgb(211, 211, 211);
    box-shadow: 0 0 0.25em gray;
    color: firebrick;
}

#texto-tarefa {
    font-size: 16px;
    color: navy;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.selecionado {
    background: rgb(128, 128, 128);
    color:darkorange;
    font-weight: 600;
}

.completed {
    text-decoration: line-through solid rgb(0,0,0);
    color: rgb(54,54,54);
    font-weight: 100;
}

#lista-tarefas {
    width: 500px;
}

li {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(169, 169, 169);
    font-size: 20px;
    color: DodgerBlue;
    height:25px;
}

li:nth-child(2n) {
    background-color: lightgray;
}

li:nth-child(2n).selecionado {
    background-color: gray;
}

ol {
    display: flex;
    flex-direction: column;
}
